@import "assets/styles/mixins";
@import "assets/styles/variables";

.teamhome__card {
  background-color: $bg-white;
  height: max-content;
  width: 15rem;
  padding: 30px;
  transition: all 0.5s;
  z-index: 10;
  margin-bottom: 50px;
  text-align: center;

  &-img {
    margin: auto;
    width: 70%;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  &-title {
    font-size: 14pt;
    font-weight: 600;
  }
  &-text {
    color: #707375;
    margin-top: 10px;
    font-size: 12pt;
  }

  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  @include atLgScreen {
    width: 90%;
    margin: auto;
    height: max-content;
  }
}
