$title-color: #2b4fee;
$text-color: #fff;
$text-color-black: rgb(31, 31, 31);
$bg-dark: #151414;
$bg-white: #fff;
$bg-grey: #f6f7f9;
$btn-color: rgba(14, 165, 233, 12);
$btn-color-red: #f73527;
$link-hover-color: #2b4fee;

$main-size: 12pt;
$title-size: 20pt;
$header-size: 18pt;
$section-size: 15pt;
