@import "assets/styles/_mixins.scss";
@import "assets/styles/_variables.scss";

.banner {
  padding: 3rem;
  text-align: center;
  height: 25rem;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $text-color;
}
.banner::before{
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background-color: rgba(0,0,0,.5);
}
.banner__header {
  margin-top: 4rem;
  position: relative;
  @include atLgScreen {
    margin-top: 0;
  }
}
.banner__text {
  position: relative;
  width: 60%;
  display: block;
  margin: auto;

  @include atLgScreen {
    width: 80%;
  }
}
.banner__search {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 6px;
  padding: 20px 0;
  width: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: $bg-white;
  color: $text-color-black;

  &-input {
    margin-right: 10px;
    border: none;
    height: 2.5rem;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 0 10px;

    @include atLgScreen {
      width: 50%;
    }
  }
  &-btn {
    border-radius: 5px;
    width: 15%;
    color: $text-color;
    height: 2.5rem;
    font-size: 11pt;

    @include atLgScreen {
      width: 20%;
    }
  }

  @include atLgScreen {
    width: 80%;
  }
}
